[graph]
targets = [
  { triple = "aarch64-apple-darwin" },
  { triple = "x86_64-unknown-linux-gnu" },
  { triple = "x86_64-pc-windows-msvc" },
]

[licenses]
version = 2
confidence-threshold = 0.93
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "MIT",
  "Unicode-3.0",
  "Unlicense",
  "Zlib",
  "BSL-1.0",
]
